.windN {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.windNNE {
    -webkit-transform: rotate(22deg);
    -moz-transform: rotate(22deg);
    -o-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
}
.windNE {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.windENE {
    -webkit-transform: rotate(68deg);
    -moz-transform: rotate(68deg);
    -o-transform: rotate(68deg);
    -ms-transform: rotate(68deg);
    transform: rotate(68deg);
}
.windE {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.windESE {
    -webkit-transform: rotate(112deg);
    -moz-transform: rotate(112deg);
    -o-transform: rotate(112deg);
    -ms-transform: rotate(112deg);
    transform: rotate(112deg);
}
.windSE {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
.windSSE {
    -webkit-transform: rotate(158deg);
    -moz-transform: rotate(158deg);
    -o-transform: rotate(158deg);
    -ms-transform: rotate(158deg);
    transform: rotate(158deg);
}
.windS {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.windSSW {
    -webkit-transform: rotate(202deg);
    -moz-transform: rotate(202deg);
    -o-transform: rotate(202deg);
    -ms-transform: rotate(202deg);
    transform: rotate(202deg);
}
.windSW {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}
.windWSW {
    -webkit-transform: rotate(248deg);
    -moz-transform: rotate(248deg);
    -o-transform: rotate(248deg);
    -ms-transform: rotate(248deg);
    transform: rotate(248deg);
}
.windW {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.windWNW {
    -webkit-transform: rotate(292deg);
    -moz-transform: rotate(292deg);
    -o-transform: rotate(292deg);
    -ms-transform: rotate(292deg);
    transform: rotate(292deg);
}
.windNW {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
}
.windNNW {
    -webkit-transform: rotate(338deg);
    -moz-transform: rotate(338deg);
    -o-transform: rotate(338deg);
    -ms-transform: rotate(338deg);
    transform: rotate(338deg);
}
